<select class="currency-selector typography-nav {{ class }}" js-currency-selector="select">
  {% for currency in shop.enabled_currencies %}
    <option value="{{ currency.iso_code }}">
      {{ currency.iso_code }}
    </option>
  {% endfor %}
</select>
