<footer class="footer">
  <div class="container">
    <nav class="footer__nav">
      {% for link in linklists.footer.links %}
        <a href="{{ link.url }}" class="typography-nav-bold footer__link">
          {{ link.title }}
        </a>
      {% endfor %}
    </nav>

    <div class="footer__credits">
      <span>
        ©{{ "now" | date: "%Y" }} NTS Radio.
      </span>
    </div>
  </div>
</footer>
