<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <a href="/" aria-label="Logo Link">
        {% render 'icons', icon: 'logo', width: '40px', height: '40px' %}
      </a>
    </div>

    <nav class="header__nav">
      {% render 'currency-selector', class: 'header__nav-item' %}

      {% if shop.customer_accounts_enabled %}
        <a href="/account" class="typography-nav header__link header__nav-item">
          <span>
            {% render 'icons', icon: 'account', width: '18px', height: '18px' %}
          </span>
          My NTS
        </a>
      {% endif %}

      {% for link in linklists.main-menu.links %}
        <a href="{{ link.url }}" class="typography-nav header__link">
          {{ link.title }}
          {% if link.title == "Cart" %}
            <span class="typography-count header__cart-count">
              {{ cart.items | size }}
            </span>
          {% endif %}
        </a>
      {% endfor %}
    </nav>
  </div>
</header>
