{% case icon %}
  {% when 'account' %}
    <svg class="icon icon--account" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" style="width: {{ width | default: '24px' }}; height: {{ height | default: '24px'}};">
      <defs/>
      <path fill="{{ fill | default: '#000' }}" d="M12 5.516a2.498 2.498 0 110 4.995 2.498 2.498 0 010-4.995zm0-1.363a3.86 3.86 0 100 7.72 3.86 3.86 0 000-7.72zM12 14.2c2.793 0 6.358 1.4 6.358 2.498v1.532H5.64v-1.532C5.64 15.6 9.206 14.2 12 14.2zm0-1.36c-2.576 0-7.72 1.293-7.72 3.86v2.895h15.44v-2.897c0-2.567-5.143-3.86-7.72-3.86v.002z"/>
    </svg>

  {% when 'logo' %}
    <svg class="icon icon--logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" style="width: {{ width | default: '24px' }}; height: {{ height | default: '24px'}};">
      <defs/>
      <path fill="{{ fill | default: '#000' }}" d="M21 6.375l-.45 1.912h-1.376l.416-1.837c.135-.581.09-1.02-.559-1.02-.648 0-.892.439-1.031 1.02l-.375 1.586a2.52 2.52 0 000 1.358l1.335 3.75c.201.592.229 1.23.079 1.837l-.518 2.382a2.647 2.647 0 01-2.715 2.208c-1.526 0-2.096-.686-1.751-2.209l.473-2.066h1.376l-.454 1.984c-.161.709 0 1.125.623 1.125.622 0 .93-.416 1.09-1.125l.48-2.108c.125-.475.102-.978-.067-1.44l-1.222-3.524a3.09 3.09 0 01-.143-1.92l.413-1.816c.337-1.5 1.275-2.212 2.674-2.212 1.545 0 2.002.75 1.69 2.107l.012.008zM10.346 19.448L13.52 5.572h-1.545l.266-1.166h4.466l-.27 1.167h-1.545l-3.168 13.875h-1.377zm-4.151 0L7.519 6.056h-.042L4.421 19.448H3.214l3.435-15.06H8.65L7.4 17.28h.041l2.944-12.893h1.211l-3.439 15.06H6.195zM0 24h24V0H0v24z"/>
    </svg>

  {% else %}
    <span>No icon found!</span>
{% endcase %}
