<script>
  window.lazySizesConfig = window.lazySizesConfig || {};
  window.lazySizesConfig.customMedia = {
    '--small': '(min-width: 576px)',
    '--medium': '(min-width: 768px)',
    '--large': '(min-width: 1025px)',
    '--xlarge': '(min-width: 1360px)',
  };
</script>

{{ 'https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js' | script_tag }}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/plugins/rias/ls.rias.min.js' | script_tag }}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/plugins/bgset/ls.bgset.min.js' | script_tag }}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/plugins/respimg/ls.respimg.min.js' | script_tag }}
