{% assign image = product.featured_image %}
{% assign image_s = image | img_url: '400x400' %}
{% assign image_m = image | img_url: '720x720' %}

<a
  href="{{ product.url | within: collection }}"
  class="product-card">
  <div class="product-card__thumbnail-container">
    <img
      class="product-card__thumbnail lazyload blur-up"
      alt="{{ image.alt | escape }}"
      src="{{ image | img_url: '100x100' }}"
      data-srcset="
        {{ image_m }} 320w,
        {{ image_s }} 768w
      "
    >
  </div>

  <div class="product-card__details">
    <h2 class="product-card__title">{{ product.title }}</h2>
    <div class="product-card__price-container">
      <span class="product-card__price">
        {{ product.price | money }}
      </span>

      {% unless product.available %}
        <span class="typography-card-label product-card__label">
          Sold out
        </span>
      {% endunless %}
    </div>
  </div>
</a>
