<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  {{ 'theme.css' | asset_url | stylesheet_tag }}

  {% render 'lazysizes-scripts' %}

  {{ content_for_header }}
</head>
<body>
  {% render 'header' %}

  <main role="main">
    {{ content_for_layout }}
  </main>

  {% render 'footer' %}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
</body>
</html>
