.hero {
  margin-bottom: 48px;

  &:last-child {
    margin-bottom: 0;
  }
}

.hero__background-image {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;

  &::before {
    background-color: $nts-black;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.55;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.hero__link {
  text-decoration: none;
}

.hero__content {
  color: $nts-white;
  margin: auto;
  max-width: 560px;
  padding: 96px 8px;
  position: relative;
  text-align: center;
  z-index: 2;
}

.hero__heading {
  @include display-1;
  margin-bottom: 8px;
}

.hero__body {
  p {
    @include nts-font-primary-bold;
    @include heading-5;
    text-transform: uppercase;
  }
}

@include bp-medium {
  .hero__content {
    padding: 96px 16px;
  }
}
