<section
  class="front-page-collection"
  data-section-type="front-page-collection"
  data-section-id="{{ section.id }}">
  <div class="container">
    <div class="grid">
      {% for product in collections.frontpage.products limit:4 %}
        <div class="grid__item grid__item--3">
          {% render 'product-card' with product: product %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Front Page Collection",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Front Page Collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Front Page Collection",
        "category": "Custom Section"
      }
    ]
  }
{% endschema %}
