{% assign background_image = section.settings.background_image %}
{% assign link_url = section.settings.link_url %}
{% assign heading = section.settings.heading %}
{% assign body = section.settings.body %}

{% assign has_cover_image = false %}

{% if background_image != blank %}
  {% assign has_cover_image = true %}
{% endif %}

{% capture hero_content %}
  <div class="hero__content">
    <h1 class="hero__heading">{{ heading }}</h1>
    <div class="hero__body">{{ body }}</div>
  </div>
{% endcapture %}

<section
  class="hero"
  data-section-type="hero"
  data-section-id="{{ section.id }}"
  js-hero="section">
  <div class="container">
    <div
      class="hero__background-image lazyload"
      style="background-image: url({{ background_image | img_url: '100x' }});"
      {% if has_cover_image %}
        data-bgset="{% render 'bg-image', image: background_image %}"
      {% endif %}
    >
      {% if link_url == blank %}
        {{ hero_content }}
      {% else %}
        <a href="{{ link_url }}" class="hero__link">
          {{ hero_content }}
        </a>
      {% endif %}
    </div>
  </div>

  <script src="{{ 'hero.js' | asset_url }}"></script>
</section>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Hero"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image",
        "info": "Recommended min dimensions: 1170x660px (.jpg)"
      },
      {
        "id": "link_url",
        "type": "url",
        "label": "Link URL"
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "NTS Supporters get 20% off merch"
      },
      {
        "id": "body",
        "type": "richtext",
        "label": "Body",
        "default": "<p>Click here to find out more</p>"
      }
    ],
    "presets": [
      {
        "name": "Hero",
        "category": "Custom Section"
      }
    ]
  }
{% endschema %}
