.product__grid-item {
  margin-bottom: 16px;
}

.product__mobile-header {
  padding: 48px 0 24px;
}

.product__details-header {
  display: none;
}

.product__title {
  @include heading-bold;
  @include heading-2;
  margin-bottom: 8px
}

.product__price {
  @include heading-bold;
  @include heading-6;
}

.product__form-container {
  border-bottom: 1px solid $nts-black;
  padding: 24px 0;
}

.product__form-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.product__description {
  padding: 24px 0;
}

@include bp-medium {
  .product__grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
  }

  .product__grid-item {
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 0 16px;
    width: 50%;
  }

  .product__mobile-header {
    display: none;
  }

  .product__details-header {
    border-bottom: 2px solid $nts-black;
    display: block;
    padding: 36px 0 24px;
  }

  .product__title {
    @include heading-4;
  }

  .product__form-container {
    padding: 36px 0;
  }

  .product__description {
    padding: 48px 0;
  }
}
