$mq-small: "(min-width: 576px)";
$mq-medium: "(min-width: 768px)";
$mq-large: "(min-width: 1025px)";
$mq-xlarge: "(min-width: 1360px)";

@mixin bp-small {
  @media #{$mq-small} {
    @content;
  }
}

@mixin bp-medium {
  @media #{$mq-medium} {
    @content;
  }
}

@mixin bp-large {
  @media #{$mq-large} {
    @content;
  }
}

@mixin bp-xlarge {
  @media #{$mq-xlarge} {
    @content;
  }
}
