html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include nts-body;
  background-color: $nts-white;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

strong {
  font-weight: bold;
}

a {
  color: inherit;
  vertical-align: middle;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}


img {
  vertical-align: middle;
}

main {
  margin-top: $header-height;
}

iframe#preview-bar-iframe {
  display: none;
}

.container {
  margin: auto;
  max-width: 720px;
  padding: 0 8px;

  @include bp-medium {
    max-width: 970px;
    padding: 0 16px;
  }

  @include bp-large {
    max-width: 1170px;
  }
}

.visually-hidden {
  @include visually-hidden;
}
