.grid__item {
  margin-bottom: 16px;
}

@include bp-medium {
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
  }

  .grid__item {
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 16px;
    width: 100%;
  }

  .grid__item--3 {
    width: calc(100% / 3);
  }
}
