@font-face {
  font-family: 'Univers-Condensed';
  src: url('./UniversCom-57Condensed.woff2') format('woff2'),
    url('./UniversCom-57Condensed.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Univers-Condensed-Bold';
  src: url('./UniversLTPro-BoldCond.woff2') format('woff2'),
      url('./UniversLTPro-BoldCond.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

@mixin nts-font-primary {
  font-family: "Univers-Condensed", Arial, sans-serif;
}

@mixin nts-font-primary-bold {
  font-family: "Univers-Condensed-Bold", Arial, sans-serif;
}

@mixin nts-body {
  font-family: Arial, sans-serif;
}

@mixin nts-font-secondary {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.1px;
}

@mixin display-1 {
  @include nts-font-primary-bold;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;

  @include bp-medium {
    font-size: 62px;
    line-height: 62px;
  }
}

@mixin heading {
  @include nts-font-primary;
}

@mixin heading-bold {
  @include nts-font-primary-bold;
}

@mixin heading-2 {
  font-size: 38px;
  line-height: 38px;
}

@mixin heading-4 {
  font-size: 28px;
  line-height: 32px;
}

@mixin heading-5 {
  font-size: 24px;
  line-height: 28px;
}

@mixin heading-6 {
  font-size: 18px;
  line-height: 20px;
}

@mixin body-m {
  font-size: 16px;
  line-height: 21px;
}

@mixin body-s {
  font-size: 11px;
  line-height: 13px;
}

.typography-nts-body {
  @include nts-body;
}

.typography-nav {
  @include nts-font-primary;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.typography-count {
  font-size: 14px;
}

.typography-card-label {
  @include nts-font-primary;
  @include body-s;
  text-transform: uppercase;
}

.typography-nav-bold {
  @include nts-font-primary-bold;
  font-size: 16px;
  line-height: 21px;
}

.typography-button {
  @include nts-font-primary-bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}