{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

{% assign variant_select_class = '' %}
{% if product.has_only_default_variant %}
  {% assign variant_select_class = 'visually-hidden' %}
{% endif %}

<div class="product" js-product="app">
  <div class="container">
    <div class="product__grid">
      <div class="product__grid-item">
        <div class="product__mobile-header">
          <h1 class="product__title">
            {{ product.title }}
          </h1>
          <span class="product__price" js-product="price">
            {{ current_variant.price | money }}
          </span>
        </div>

        <img src="{{ featured_image | img_url: 'large' }}" style="max-width: 100%;" alt="{{ featured_image.alt | escape }}">
        {% for image in product.images %}
          <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
        {% endfor %}
      </div>

      <div class="product__grid-item">
        <div class="product__details-header">
          <h1 class="product__title">
            {{ product.title }}
          </h1>
          <span class="product__price" js-product="price">
            {{ current_variant.price | money }}
          </span>
        </div>

        <div class="product__form-container">
          <form action="/cart/add" method="post" enctype="multipart/form-data">
            <select name="id">
              {% for variant in product.variants %}
                <option
                  value="{{ variant.id }}"
                  {% if variant == current_variant %}
                    selected="selected"
                  {% endif %}
                >
                  {{ variant.title }}
                </option>
              {% endfor%}
            </select>

            <!-- {% for option in product.options_with_values %}
              <div>
                <h3>{{ option.name }}</h3>
                <div>
                  {% for value in option.values %}
                    <div>
                      <label for="{{ value }}">{{ value }}</label>
                      <input
                        id="{{ value.id }}"
                        type="radio"
                        name="{{ option.name }}"
                        value="{{ value }}"
                        {% if option.selected_value == value %}checked{% endif %} />
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %} -->

            <label for="Quantity" class="visually-hidden">Quantity</label>
            <input type="number" class="visually-hidden" name="quantity" value="1" min="1">

            <button type="submit" class="nts-button typography-button" name="add">
              Add to cart
            </button>
          </form>
        </div>

        <div class="product__description">
          {{ product.description }}
        </div>
      </div>
    </div>
  </div>

  {% render 'product-json' with featured_image: featured_image %}
</div>

<script src="{{ 'product.js' | asset_url }}"></script>
