.footer {
  margin-top: 96px;
  padding-bottom: 96px;
}

.footer__nav {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.footer__link {
  margin: 0 8px;
  text-decoration: none;
}

.footer__credits {
  @include body-m;
  @include nts-font-primary;
  text-align: center;
}

@include bp-medium {
  .footer__link {
    margin: 0 16px;
  }
}