.header {
  background-color: $nts-white;
  left: 0;
  padding: 8px 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  a, svg {
    display: block;
  }
}

.header__nav {
  align-items: center;
  display: flex;
}

.header__nav-item {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.header__link {
  align-items: center;
  display: flex;

  svg {
    display: block;
    margin-right: 4px;
  }
}

.header__cart-count {
  align-items: center;
  background-color: $nts-black;
  border-radius: 50%;
  color: $nts-white;
  display: flex;
  height: 22px;
  justify-content: center;
  margin-left: 6px;
  width: 22px;
}
