.nts-button {
  background-color: $nts-black;
  border: 1px solid $nts-black;
  color: $nts-white;
  padding: 16px 24px;

  &:hover {
    background-color: $nts-grey-dark;
    border-color: $nts-grey-dark;
  }
}
