.product-card {
  border: 1px solid transparent;
  display: block;
  text-decoration: none;

  &:hover {
    border-color: $nts-black;
  }
}

.product-card__thumbnail-container {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.product-card__thumbnail {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.product-card__details {
  background-color: $nts-white;
  color: $nts-black;
  padding: 16px 8px;

  .product-card:hover & {
    background-color: $nts-black;
    color: $nts-white;
  }
}

.product-card__title {
  @include nts-font-primary-bold;
  @include heading;
  @include heading-6;
  margin-bottom: 4px;
  text-align: center;
}

.product-card__price-container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.product-card__price {
  @include nts-font-secondary;
  @include body-m;
}

.product-card__label {
  background-color: $nts-black;
  border-radius: 2px;
  color: $nts-white;
  padding: 2px 4px;
  position: absolute;
  right: 0;
}